/* Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd */
/*  */
/* basically a minor reset */
html body{
    padding:0;
    margin:0;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
    line-height: 34px;
    background-image: url("../images/white-waves.png")
}



h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    margin: 0px 0px 30px 0px;
    color: #4aaaa5;
}

#name{
    color: #ffffff;
    text-align:center;
    margin: 10px;
}



header{
    background: #ffffff;
    background-size: 100%;
    border: 1px solid #cccccc;
    width:100%;
}

.header, .content{
    max-width: 960px;
    margin: 0 auto;
}
/* name with teal */
.myName{
    position: relative;
    top: 62px;
    float: left;
    padding: 20px;
    background-color: #4aaaa5;
    width: 40%;
    line-height:.1;

}
/* After header content */
header::after {
    content: "";
    display: block;
    clear: both;
  }

.navBar{
    float: right;
    margin-top: 15px;
}
/* whitespace around about me */
.wrapper{
    margin-bottom: -25px;
    margin-top: 25px;
    min-height:100%;
}

.container{
    padding: 40px;
    border: 1px solid #dddddd;
    background: #ffffff;
    width:960px;
}



.stuff{
    padding-top: 20px;
}

/* Remove bullets from ul */
ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

/* nav bar links */
li{
    float:left;
}

li a{
    display: block;
    color:#777777;
    padding:8px;
    text-decoration: none;
}

.pic{
    width: 200px;
    height: 200px;
    margin: 30px 20px 10px 0px;
    float: left;
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* portfolio images
 */
 .image{
     margin: 20px 20px 20px 20px;
 }

 /* contact form input box
  */
  .input{
      width: 960px;
      /* margin: 0px 20px; */
  }

